# ==========================================
# Core Configuration & Environment
# ==========================================
AIRFLOW_IMAGE_NAME=apache/airflow:3.3.1
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow

# ==========================================
# Security & Encryption Keys
# ==========================================
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf8Ep9wXPQ-FhUjI=
AIRFLOW__API_AUTH__JWT_SECRET=lab_jwt_secret_key_12345

# ==========================================
# Additional Python Dependencies
# ==========================================
_PIP_ADDITIONAL_REQUIREMENTS=clickhouse-driver pandas numpy
